.pagination{
    background-color:white;
}

.body{
    /*background-image: "D:/Web Development/BACKGROUND/pexels-s-migaj-747964.jpg"; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    background-position-x: 0px;
    background-position-y: 0px;
    
    /*border: 2px dashed #111; */
    box-shadow: 0 0 20px 2px #000;

    background-color: rgb(6,26,126);
    background-color: rgba(0,0,0,0.7);
}

.link{
    text-decoration: none;
}
.link:hover{
    color: white;
    font-size: 13px;
}

.profile:hover{
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
}

hr{
    align-items:"center";
    width: "80%";
    size: "2";
    border-style: none;
    border-top-style: dotted;
    border-color: #d7fbe8;
    border-width: 10px;
    width: 8%;
}

.social {
    margin-right:20px;  
    padding: 0;
    font-size: 30x;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.containerh{
    padding: 10px;
    width:150px;
    height:115px;
    /*border: 2px dashed #111; */
    box-shadow: 0 0 20px 2px #000;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);

}
/*
background-color: rgb(0,0,0); // Fallback color 
background-color: rgba(0,0,0, 0.4); // Black w/opacity/see-through 
color: white;
font-weight: bold;
border: 3px solid #f1f1f1;
position: absolute;
top: 20%;
left: 20%;
transform: translate(-50%, -50%);
z-index: 2;
text-align: center;
*/

.containers{
    height: 130px;
    /* border: 2px dashed #111; */
    box-shadow: 0 0 20px 2px #000;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

